{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'social_net/main.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    {% if title %}
        <title>LifeLoader - {{ title }}</title>
    {% else %}
        <title>LifeLoader </title>
    {% endif %}
</head>
<body>
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-black fixed-top">
        <div class="container">
            <a class="navbar-brand me-4" style="font-size: 26px;" href="{% url 'LifeLoader-home' %}">LifeLoader</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav me-auto">
                    <a class="nav-item nav-link" href="{% url 'LifeLoader-home' %}">Home</a>
                    <a class="nav-item nav-link" href="{% url 'LifeLoader-about' %}">About</a>
                    <form id="user-search-form" method="post" action="{% url 'LifeLoader-user_search' %}" class="d-flex">
                      {% csrf_token %}
                      <input type="text" name="username" class="form-control ms-2 me-2" placeholder="Search users" aria-label="Search">
                      <button type="submit" class="btn btn-outline-info">Search</button>
                  </form>
                </div>
                <div class="navbar-nav ms-auto">
                  {% if user.is_authenticated %}
                    <a class="nav-item nav-link" href="{% url 'LifeLoader-post_create' %}">Write</a>
                    <a class="nav-item nav-link" href="{% url 'LifeLoader-profile' %}">Profile</a>
                    <a class="nav-item nav-link" href="{% url 'LifeLoader-logout' %}">Logout</a>
                  {% else %}
                    <a class="nav-item nav-link" href="{% url 'LifeLoader-login' %}">Login</a>
                    <a class="nav-item nav-link" href="{% url 'LifeLoader-register' %}">Register</a>
                  {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>
      <main role="main" class="container">
        <div class="row">
          <div class="col-md-8 mt-2">
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
          </div>
          <div class="col-md-4 mt-2">
            <div class="content-section">
              <h3>Disover Now</h3>
              <p class='text-muted'>
                <ul class="list-group">
                  <li class="list-group-item list-group-item-light">Latest Posts</li>
                  <li class="list-group-item list-group-item-light">Top Posts</li>
                  <li class="list-group-item list-group-item-light">Announcements</li>
                </ul>
              </p>
            </div>
          </div>
        </div>
      </main>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>