{% extends "social_net/base_temp.html" %}
{% load static %}
{% block content %}
    <div id="user-info-container">
        <!-- adding a heading of user name and number of posts-->
    </div>

    <div id="posts-container">
        <!-- Posts will be dynamically added here -->
    </div>

    <div id="pagination-container">
        <!-- Pagination links will be dynamically added here -->
    </div>
    <script type="text/javascript" src="{% static 'social_net/js/user_posts_list.js' %}"></script>
{% endblock content %}
    